{"openapi":"3.1.0","info":{"title":"Splat API","version":"1.0.0","description":"Turn photos and videos into interactive 3D Gaussian Splat scenes."},"servers":[{"url":"https://api.splat-3d.com","description":"Production"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"API key in format: s3d_..."}},"schemas":{"CreateSceneResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"sceneId":{"type":"string","example":"a1b2c3d4e5f6"},"uploadUrl":{"type":"string","format":"uri","example":"https://r2.dev/upload?..."}},"required":["sceneId","uploadUrl"]},"meta":{"type":"object","properties":{"request_id":{"type":"string","format":"uuid"}},"required":["request_id"]}},"required":["data","meta"]},"ErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"not_found"},"message":{"type":"string","example":"Scene not found."},"details":{"type":"array","items":{"type":"object","additionalProperties":{"nullable":true}},"example":[{"field":"iterations","value":15000,"allowed":{"min":3000,"max":10000},"tier":"standard","hint":"iterations=15000 requires the quality tier or higher."}]}},"required":["code","message"]},"meta":{"type":"object","properties":{"request_id":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"}},"required":["request_id"]}},"required":["error","meta"]},"CreateSceneBody":{"type":"object","properties":{"title":{"type":"string","maxLength":200,"example":"My scene"},"address":{"type":"string","maxLength":500,"example":"123 Main St"},"content_type":{"type":"string","example":"video/mp4"},"file_size":{"type":"integer","minimum":0,"example":52428800},"preset":{"type":"string","enum":["fast","standard","quality","ultra","custom"],"example":"standard"},"training_model":{"type":"string","example":"gsplat"},"training_tier":{"type":"string"},"sfm":{"type":"object","additionalProperties":{"nullable":true}},"training":{"type":"object","additionalProperties":{"nullable":true}},"output":{"type":"object","additionalProperties":{"nullable":true}},"enable_lod":{"type":"boolean"},"webhook_url":{"type":"string","maxLength":2048,"format":"uri","description":"URL to receive webhook when scene processing completes or fails.","example":"https://example.com/webhooks/splat"},"webhook_secret":{"type":"string","maxLength":256,"description":"Secret for HMAC-SHA256 webhook signature verification."}}},"Scene":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4e5f6"},"title":{"type":"string","nullable":true,"example":"My living room"},"address":{"type":"string","nullable":true,"example":"123 Main St"},"status":{"type":"string","example":"complete"},"training_model":{"type":"string","nullable":true,"example":"gsplat"},"is_public":{"type":"boolean","example":false},"thumbnail_r2_key":{"type":"string","nullable":true},"num_gaussians":{"type":"number","nullable":true},"ssim":{"type":"number","nullable":true},"processing_stage":{"type":"string","nullable":true},"processing_pct":{"type":"number","nullable":true},"created_at":{"type":"string","example":"2026-04-13T12:00:00Z"},"updated_at":{"type":"string","example":"2026-04-13T12:05:00Z"}},"required":["id","title","address","status","training_model","is_public","thumbnail_r2_key","num_gaussians","ssim","processing_stage","processing_pct","created_at","updated_at"]},"PaginationMeta":{"type":"object","properties":{"request_id":{"type":"string","format":"uuid"},"next_cursor":{"type":"string","nullable":true,"example":"2026-04-13T00:00:00Z"},"has_more":{"type":"boolean"},"count":{"type":"integer"}},"required":["request_id","next_cursor","has_more","count"]},"SceneListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Scene"}},"meta":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","meta"]},"SceneDetail":{"allOf":[{"$ref":"#/components/schemas/Scene"},{"type":"object","properties":{"processing_error":{"type":"string","nullable":true,"description":"Error message if processing failed or was cancelled."},"viewer_url":{"type":"string","nullable":true,"description":"Viewer URL on splat-3d.com — populated when complete."},"download_url":{"type":"string","nullable":true,"description":"Download URL for the output model — populated when complete."},"format":{"type":"string","nullable":true,"enum":["sog","ply"],"description":"Output format: sog (compressed) or ply — populated when complete."},"lod_meta_url":{"type":"string","nullable":true,"description":"LOD metadata URL — populated when complete with LOD enabled."}},"required":["processing_error","viewer_url","download_url","format","lod_meta_url"]}]},"SceneDetailResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SceneDetail"},"meta":{"type":"object","properties":{"request_id":{"type":"string","format":"uuid"}},"required":["request_id"]}},"required":["data","meta"]},"UpdateSceneBody":{"type":"object","properties":{"title":{"type":"string","maxLength":200},"address":{"type":"string","maxLength":500},"description":{"type":"string","maxLength":2000},"is_public":{"type":"boolean"}}},"ProcessSceneResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"status":{"type":"string","example":"processing"},"sceneId":{"type":"string"},"message":{"type":"string"}},"required":["status","sceneId","message"]},"meta":{"type":"object","properties":{"request_id":{"type":"string","format":"uuid"}},"required":["request_id"]}},"required":["data","meta"]},"ArkitPose":{"type":"object","properties":{"timestamp":{"type":"number","description":"Capture timestamp in seconds","example":1.234},"file_path":{"type":"string","description":"Path of the image in the uploaded zip; the file name alone works when it is unique","example":"IMG_0001.jpg"},"transform":{"type":"array","items":{"type":"number"},"description":"4x4 camera-to-world matrix, column-major (ARKit simd_float4x4 layout), in a gravity-aligned world with +Y up (ARKit worldAlignment .gravity or .gravityAndHeading). Scene orientation is taken from it.","example":[1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1]},"intrinsics":{"type":"array","items":{"type":"number"},"description":"3x3 camera intrinsics matrix, row-major [fx,0,cx, 0,fy,cy, 0,0,1]","example":[1674,0,960,0,1674,720,0,0,1]},"width":{"type":"integer","minimum":0,"exclusiveMinimum":true,"example":1920},"height":{"type":"integer","minimum":0,"exclusiveMinimum":true,"example":1440}},"required":["timestamp","file_path","transform","intrinsics","width","height"]},"ProcessSceneBody":{"type":"object","properties":{"enable_lod":{"type":"boolean","example":false},"arkit_poses":{"type":"array","items":{"$ref":"#/components/schemas/ArkitPose"},"minItems":5,"maxItems":1000,"description":"Pre-computed camera poses from ARKit LiDAR. When provided, SfM (GLOMAP/COLMAP) is skipped entirely."},"lidar_points":{"type":"array","items":{"type":"array","items":{"type":"number"},"minItems":3,"maxItems":6},"maxItems":50000,"description":"LiDAR point cloud from ARKit ARMeshAnchor. Each entry is [x, y, z] or [x, y, z, r, g, b]. Max 50K points."}}},"RetrainSceneResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"retraining":{"type":"boolean"},"quality_tier":{"type":"string"}},"required":["id","retraining","quality_tier"]},"meta":{"type":"object","properties":{"request_id":{"type":"string","format":"uuid"}},"required":["request_id"]}},"required":["data","meta"]},"RetrainSceneBody":{"type":"object","properties":{"quality_tier":{"type":"string","enum":["fast","standard","pro","ultra"],"default":"standard","example":"pro"}}},"CancelSceneResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"cancelled":{"type":"boolean"},"refunded":{"type":"boolean","description":"True when the cancel returned credits: everything the launch charged when it came before the job started or within 10 seconds after, and later only an AI Enhance charge reserved at upload."},"refunded_credits":{"type":"integer","description":"Credits this cancel returned; 0 when it was not refunded.","example":20}},"required":["id","cancelled","refunded","refunded_credits"]},"meta":{"type":"object","properties":{"request_id":{"type":"string","format":"uuid"}},"required":["request_id"]}},"required":["data","meta"]},"UsageData":{"type":"object","properties":{"period":{"type":"string","example":"2026-04"},"scenes_created":{"type":"integer","example":3},"scenes_processed":{"type":"integer","example":2},"gpu_seconds_used":{"type":"integer","example":450},"storage_bytes":{"type":"integer","example":1073741824},"limits":{"type":"object","properties":{"scenes_created":{"type":"integer","nullable":true,"description":"Max scenes creatable this period. `null` means unlimited (Build plan).","example":100},"scenes_processed":{"type":"integer","nullable":true,"description":"Max scenes processable this period. `null` means unlimited (Build plan).","example":100},"gpu_seconds":{"type":"integer","example":36000},"storage_bytes":{"type":"integer","example":53687091200}},"required":["scenes_created","scenes_processed","gpu_seconds","storage_bytes"]}},"required":["period","scenes_created","scenes_processed","gpu_seconds_used","storage_bytes","limits"]},"UsageResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/UsageData"},"meta":{"type":"object","properties":{"request_id":{"type":"string","format":"uuid"}},"required":["request_id"]}},"required":["data","meta"]}},"parameters":{}},"paths":{"/v1/scenes":{"post":{"tags":["Scenes"],"summary":"Create a scene","description":"Create a new scene and get a presigned upload URL for the source file.","operationId":"createScene","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSceneBody"}}}},"responses":{"201":{"description":"Scene created with presigned upload URL.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSceneResponse"}}}},"400":{"description":"Invalid input.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Parameter out of range for the chosen tier. `error.details` lists each violation as {field, value, allowed, tier, hint}.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited -- too many concurrent scenes.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Temporarily unavailable, e.g. a database blip. Not an answer about your key or scene. No `Retry-After`: this operation doesn't dedupe repeats, and a repeated create or `/retrain` makes another scene. Check `GET /v1/scenes` before sending it again.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["Scenes"],"summary":"List scenes","description":"List all scenes for the authenticated user with cursor-based pagination.","operationId":"listScenes","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","example":"2026-04-13T00:00:00Z"},"required":false,"name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"example":50},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Paginated list of scenes.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SceneListResponse"}}}},"401":{"description":"Authentication required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Temporarily unavailable, e.g. a database blip. Not an answer about your key or scene: retry the same request after `Retry-After` seconds.","headers":{"Retry-After":{"description":"Seconds to wait before retrying the same request.","schema":{"type":"integer","example":5}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/scenes/{id}":{"get":{"tags":["Scenes"],"summary":"Get scene status","description":"Get detailed status and metadata for a scene.","operationId":"getScene","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Scene ID","example":"a1b2c3d4e5f6"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Scene detail — consistent shape for all processing states.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SceneDetailResponse"}}}},"401":{"description":"Authentication required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Scene not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Temporarily unavailable, e.g. a database blip. Not an answer about your key or scene: retry the same request after `Retry-After` seconds.","headers":{"Retry-After":{"description":"Seconds to wait before retrying the same request.","schema":{"type":"integer","example":5}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Scenes"],"summary":"Update scene metadata","description":"Update title, address, description, or visibility of a scene.","operationId":"updateScene","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Scene ID","example":"a1b2c3d4e5f6"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSceneBody"}}}},"responses":{"200":{"description":"Updated scene, in the same shape as GET /v1/scenes/{id}.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SceneDetailResponse"}}}},"400":{"description":"Invalid input.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Scene not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Temporarily unavailable, e.g. a database blip. Not an answer about your key or scene. No `Retry-After`: this operation doesn't dedupe repeats, and a repeated create or `/retrain` makes another scene. Check `GET /v1/scenes` before sending it again.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Scenes"],"summary":"Delete a scene","description":"Delete a scene and all associated files.","operationId":"deleteScene","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Scene ID","example":"a1b2c3d4e5f6"},"required":true,"name":"id","in":"path"}],"responses":{"204":{"description":"Scene deleted."},"401":{"description":"Authentication required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Scene not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Temporarily unavailable, e.g. a database blip. Not an answer about your key or scene: retry the same request after `Retry-After` seconds.","headers":{"Retry-After":{"description":"Seconds to wait before retrying the same request.","schema":{"type":"integer","example":5}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/scenes/{id}/process":{"post":{"tags":["Scenes"],"summary":"Start processing a scene","description":"Reserve one paid launch for an uploaded scene. Retry with the same body and optional Idempotency-Key to replay the saved result without another charge, processing-quota increment, or dispatch. An uncertain upstream response remains accepted until status reconciliation resolves it.","operationId":"processScene","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Scene ID","example":"a1b2c3d4e5f6"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","pattern":"^[\\x21-\\x7e]{1,128}$","description":"Optional user-scoped key. Reuse this exact key and body on retries. A different key/body for the same scene, or reuse on another scene, returns 409."},"required":false,"name":"idempotency-key","in":"header"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessSceneBody"}}}},"responses":{"200":{"description":"Processing started.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessSceneResponse"}}}},"400":{"description":"`source_missing`: the scene's source file isn't in storage, e.g. the upload never finished. Nothing was charged. Upload it again (the upload URL from create lasts one hour; after that, create a new scene), then call `/process` again. Any other bad request is `invalid_input`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Scene not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Scene is already being processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"413":{"description":"Uploaded file exceeds the upload size limit for your plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Temporarily unavailable, e.g. a database blip. Not an answer about your key or scene: retry the same request after `Retry-After` seconds.","headers":{"Retry-After":{"description":"Seconds to wait before retrying the same request.","schema":{"type":"integer","example":5}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/scenes/{id}/retrain":{"post":{"tags":["Scenes"],"summary":"Retrain a scene","description":"Re-process a scene at a different quality tier. Cancels any in-progress run.","operationId":"retrainScene","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Scene ID","example":"a1b2c3d4e5f6"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrainSceneBody"}}}},"responses":{"200":{"description":"Retraining started.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrainSceneResponse"}}}},"400":{"description":"Invalid input.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Scene not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Scene cannot be retrained in current state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Temporarily unavailable, e.g. a database blip. Not an answer about your key or scene. No `Retry-After`: this operation doesn't dedupe repeats, and a repeated create or `/retrain` makes another scene. Check `GET /v1/scenes` before sending it again.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/scenes/{id}/cancel":{"post":{"tags":["Scenes"],"summary":"Cancel scene processing","description":"Cancel an in-progress scene processing job. A cancel before the job starts, or within 10 seconds after, refunds the credits it charged. The job starts around when /process returns. A later cancel keeps the processing charge and refunds only an AI Enhance charge reserved at upload (dashboard launches; API launches reserve none).","operationId":"cancelScene","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Scene ID","example":"a1b2c3d4e5f6"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Processing cancelled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelSceneResponse"}}}},"401":{"description":"Authentication required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Scene not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Cannot cancel scene in current state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Temporarily unavailable, e.g. a database blip. Not an answer about your key or scene. No `Retry-After`: this operation doesn't dedupe repeats, and a repeated create or `/retrain` makes another scene. Check `GET /v1/scenes` before sending it again.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/scenes/{id}/download":{"get":{"tags":["Scenes"],"summary":"Download 3D model file","description":"Download the processed 3D Gaussian Splat model file.","operationId":"downloadScene","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Scene ID","example":"a1b2c3d4e5f6"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","enum":["sog","ply","spz"],"description":"File to download. `sog` (default): compressed, for web viewers. `ply`: raw splat at full precision. `sog` and `ply` fall back to each other; the `X-Splat-Format` header names the file sent. `spz`: Niantic's compressed splat format, for viewers that load `.spz` files, such as native renderers. Older scenes, and scenes whose SPZ conversion failed, have none: they answer 404, never another format.","example":"sog"},"required":false,"name":"format","in":"query"}],"responses":{"200":{"description":"Binary model file (application/octet-stream)."},"401":{"description":"Authentication required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Scene not found, it has no model yet, or (format=spz) it has no SPZ.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Temporarily unavailable, e.g. a database blip. Not an answer about your key or scene: retry the same request after `Retry-After` seconds.","headers":{"Retry-After":{"description":"Seconds to wait before retrying the same request.","schema":{"type":"integer","example":5}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/scenes/{id}/thumbnail":{"get":{"tags":["Scenes"],"summary":"Get scene thumbnail","description":"Get the JPEG thumbnail for a scene. No authentication required.","operationId":"getSceneThumbnail","security":[],"parameters":[{"schema":{"type":"string","description":"Scene ID","example":"a1b2c3d4e5f6"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"JPEG thumbnail image."},"404":{"description":"Thumbnail not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Temporarily unavailable, e.g. a database blip. Not an answer about your key or scene: retry the same request after `Retry-After` seconds.","headers":{"Retry-After":{"description":"Seconds to wait before retrying the same request.","schema":{"type":"integer","example":5}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/usage":{"get":{"tags":["Usage"],"summary":"Get current usage and quotas","description":"Returns the authenticated user's usage for the current billing period and their plan limits.","operationId":"getUsage","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Current usage and limits.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageResponse"}}}},"401":{"description":"Authentication required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Temporarily unavailable, e.g. a database blip. Not an answer about your key or scene: retry the same request after `Retry-After` seconds.","headers":{"Retry-After":{"description":"Seconds to wait before retrying the same request.","schema":{"type":"integer","example":5}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}}}